{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('updateTaskAction') }}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('tab') }}
{% endblock %}

{% block body %}
    <br>
    {% embed 'tab.html.twig' %}
        {% block row %}
            {% for item in data %}
                <tr>
                    <td scope="row">{{ item["description"] }}</td>
                    <td scope="row">{{ item["dateIntsall"]|date("h:i:s m/d/Y") }}</td>
                    <td scope="row">{{ item["dateInspect"]|date("h:i:s m/d/Y") }}</td>
                    <td scope="row">
                        <label>
                            Status
                            <select class="statusSelector" data-task-id="{{item['id']}}">
                                {% for statu in [ {"name": "Null", "value": ""}, {"name": "EnAttente", "value": "en_attente"}, {"name": "Inspecte", "value": "inspecte"}, {"name": "Bon", "value": "bon"}, {"name": "Mauvais" , "value": "mauvais"}, {"name": "Installe", "value": "installe"}, {"name": "Repare", "value": "repare"}, {"name": "Remplace", "value": "remplace"}, {"name": "HorsService" , "value": "hors_service"}, {"name": "EnCoursInstallation", "value": "en_cours_installation"}, {"name": "Retire", "value": "retire"}, {"name": "Pending" , "value": "pending" }, {"name": "Inactive", "value": "inactive"}, {"name": "Completed", "value": "completed"} ] %}
                                    <option value="{{statu['value']}}" {{ statu['value'] == item['status']['value'] ? 'selected' : '' }}>{{statu['name']}}</option>
                                {% endfor %}
                            </select>
                        </label>
                    </td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endblock %}