{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('tab') }}
{% endblock %}

{% block body %}
    <br>
    {% embed 'tab.html.twig' %}
        {% block row %}
            {% for item in data %}
                <tr>
                    <td scope="row">{{ item["description"] }}</td>
                    <td scope="row">{{ item["dateIntsall"]|date("h:i:s m/d/Y ") }}</td>
                    <td scope="row">{{ item["dateInspect"]|date("h:i:s m/d/Y ") }}</td>
                    <td scope="row">
                        <label>
                            Status
                        <select>
                            {% for statu in status %}
                            {{status[0]}}
                                {# <option value="{{statu['value']}}">{{statu}}</option #}
                            {% endfor %}

                        </select>
                        </label>
                        {# {{item["status"]}} #}
                    </td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}
    
{% endblock %}